  <div class="card">
    <div class="card-image" [hidden]="!tweet.media_url">
      <img src="{{tweet.media_url}}">
      <!-- <span class="card-title"></span> -->
    </div>
    <div class="card-content">
      <p>{{tweet.text}}</p>
    </div>
  </div>
