<nav [hidden]="!loggedIn">
  <div class="nav-wrapper indigo">
    <a (click)="home()" class="navbar--home">Home</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="waves-effect waves-light " (click)="logOut()">Log Out</a></li>
    </ul>
  </div>
</nav>
