<div class="container center-align">
  <div class="row center-align">
    <div class="col s12 m6 offset-m3 z-depth-3">
      <form class="col s12" (ngSubmit)="loginUser()">
        <div class="row">
          <div class="input-field col s12">
            <input id="userName" [(ngModel)]="user.userName" type="text" class="validate" name="userName" autofocus>
            <label for="userName">Usuario</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" [(ngModel)]="user.password" type="password" class="validate" name="password" autocomplete="password">
            <label for="password">Contraseña</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button href="#" class="btn waves-effect waves-light full-width indigo">Login</button>
          </div>
        </div>
        <div class="row">
          <a [routerLink]="['/register']">
            Crear cuenta
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
