<head>
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<app-toast></app-toast>
<app-header></app-header>
<router-outlet></router-outlet>
