<div class="container center-align">
  <div class="row center-align">
    <div class="col s12 m6 offset-m3 z-depth-3">
      <form class="col s12" (ngSubmit)="createBoard()">
        <div class="row">
          <div class="input-field col s12">
            <input id="userName" [(ngModel)]="board.title" type="text" class="validate" name="userName" autofocus>
            <label for="userName">Titulo</label>
          </div>
        </div>
        <div class="row">
          <div class="chips left-align input-field">
            <input class="custom-class">
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <button href="#" class="btn waves-effect waves-light full-width indigo">Crear Board</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
