<div class="container">
  <div class="row">
    <app-board-details *ngFor="let board of boards" [board]="board" ></app-board-details>
    <div class="col s6 m3 add-board" (click)="addBoard()">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text center-align">
           <i class="large material-icons">add_circle_outline</i>
           <p>
             Agregar board
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
