<div class="col s12 m3">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{board.title}}</span>
      <p *ngFor="let interest of board.interests">{{interest}}</p>
    </div>
    <div class="card-action">
      <a (click)="showBoard()">Entrar</a>
    </div>
  </div>
</div>
